$itemBackground: #FFFFFF;
$itemBorder: #EAEAEA;

.brands {
  padding: 24px 0 50px 0;

  .brands__container {
    display: grid;
    grid-template-columns: 240px 240px 240px 240px;
    column-gap: 32px;
    row-gap: 16px;

    overflow: hidden;

    padding-bottom: 12px;
  }

}

@media screen and (max-width: 768px) {
  .brands {
    padding-bottom: 24px;

    .brands__container {
      grid-template-columns: 240px 240px;
      width: 520px;
      margin: 0 auto;

      .brands__item {

        &:nth-child(7), &:nth-child(8), &:nth-child(9), &:nth-child(10), &:nth-child(11), &:nth-child(12) {
          display: none;
        }

      }
    }

  }

}

@media screen and (max-width: 510px) {
  .brands {

    .brands__container {
      display: none;
      margin: 0;
      padding: 0;

      .brands__item {
        display: none;
        margin: 0;
        padding: 0;
      }

    }

    .link-box--hidden {
      display: none;
    }

  }

}

