$modalBg: #FFFFFF;
$modalInputColor: #EAEAEA;
$modalTextColor: #B5B6BC;
$modalBorder: #D9FFF5;
$modalPolicy: #7E7E82;
$modalPolicyImportant: #FF3E79;

.modal-window {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;

  display: none;
  justify-content: flex-end;

  width: 100%;
  height: 1950px;
  background-color: rgba(255, 255, 255, 0.9);

  .icon--cross--order {
    position: absolute;
    z-index: 8;
    top: 24px;
    left: -70px;
  }

  .icon--cross--call {
    position: absolute;
    z-index: 6;
    top: 24px;
    left: -70px;
  }

  .modal-window__container {
    width: 376px;
    height: 100%;

    border-left: 1px solid $modalBorder;

    background-color: $modalBg;

    position: relative;
    padding: 24px 32px 0 32px;

    .modal__title {

      &:before {
        left: 0;
      }

    }

    .modal__form {
      margin-top: 24px;

      .modal__input {
        width: 100%;
        height: 48px;
        border-radius: 8px;

        padding-left: 16px;

        border-color: $modalInputColor;

        &::placeholder {
          color: $modalTextColor;
          font-size: 16px;
        }

        &:nth-child(2) {
          margin: 28px 0;
        }

        &:nth-child(3) {
          margin-bottom: 28px;
        }
      }

      .modal__input--message {
        height: 118px;
        position: relative;

        &::placeholder {
          position: absolute;
          top: 0;

          padding-top: 12px;
        }
      }
    }

    .modal__text {
      display: inline-block;

      font-size: 14px;
      margin-top: 16px;
      margin-bottom: 23px;

      color: $modalPolicy;

      span {
        color: $modalPolicyImportant;
      }
    }

    .modal__btn {
      display: flex;
      justify-content: flex-end;
    }

  }

}

@media screen and (max-width: 430px) {
  .modal-window {

    .icon--cross--order {
      position: relative;
      top: 0;
      left: 0;

      margin-bottom: 32px;
    }

    .icon--cross--call {
      position: relative;
      top: 0;
      left: 0;

      margin-bottom: 32px;
    }

  }
}
