@import './modalWindow/modalWindow.scss';
@import './header/header.scss';
@import './sidebar/sidebar.scss';
@import './intro/intro.scss';
@import './brands/brands.scss';
@import './technics/technics.scss';
@import './prices/prices.scss';
@import './footer/footer.scss';

$bgColor: #F8F8F8;
$iconColor: #FF3E79;
$iconHoverColor: #a92a50;
$titleColor: #7E7E82;
$titleBg: #FFFFFF;
$titleBorder: #D9FFF5;
$pricesTextColor: #1B1C21;


%item {
  background-color: $itemBackground;
  border: 1px solid $itemBorder;
  border-radius: 6px;

  position: relative;
}

%icon__body {
  background-color: $iconColor;
  color: $iconColor;
  width: 40px;
  height: 40px;

  border-radius: 50%;

  cursor: pointer;

  transition: background .3s ease;

  &:hover {
    background-color: $iconHoverColor;
  }
}

%burger__pseudo {
  content: "";
  display: block;

  height: 2px;

  background-color: $titleBg;
  border-radius: 1px;

  position: absolute;
}

@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TT Lakes/TTLakes-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TT Lakes/TTLakes-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'TT Lakes Bold';
  src: url('../fonts/TT Lakes/TTLakes-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'TT Lakes Regular', serif;
  background-color: $bgColor;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}

ul, li, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;

  display: flex;
  justify-content: space-between;
}

.wrapper {
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1056px;
  margin: 0 auto;
}

.intro__title {
  font-size: 28px;
  font-family: 'TT Lakes Bold', serif;

  &:before {
    @extend %beforeElem;
    left: 22.11%;
  }
}

.icon {
  @extend %icon__body;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-arrows {
  display: block;
  margin-right: 17px;
}

.icon-arrow {
  width: 40px;
  height: 40px;

  border: 2px solid $iconColor;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;

  transition: transform .3s ease;

  &:hover {
    transform: rotate(360deg) scale(1.1);
  }
}

.title {
  color: $titleColor;
  font-size: 16px;
  letter-spacing: -0.2px;

  padding: 16px 0 16px 0;
  text-transform: uppercase;

  background-color: $titleBg;
  border-top: 1px solid $titleBorder;
}

.link-box {
  display: flex;
  align-items: center;

  .link {
    font-family: 'TT Lakes Medium', serif;

    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;

    color: $headerColor;
    text-decoration: none;
    font-size: 16px;

    cursor: pointer;

    .hidden--text {
      display: none;
    }
  }

}

.icon--cross {
  display: none;
}

.icon--cross--opened {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--burger {
  @extend %icon__body;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .burger {
    width: 10px;
    height: 2px;

    margin-left: 11px;

    background-color: $titleBg;
    border-radius: 1px;

    position: relative;

    &:after {
      @extend %burger__pseudo;
      width: 18px;
      top: -5px;
    }

    &:before {
      @extend %burger__pseudo;
      width: 14px;
      bottom: -5px;
    }
  }
}

.header__elem {
  width: 2px;
  height: 32px;

  margin: 0 20px;

  background-color: $headerElemBg;
}

/* Brands swiper */

.brands__item {
  @extend %item;

  width: 240px;
  height: 72px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
}

.swiper-brands {
  width: 240px;
  height: 112px;
}

.swiper-wrapper--brands {
  height: 72px;
}

/* Technics swiper */

.technics__item {
  @extend %item;

  width: 240px;
  height: 160px;

  position: relative;

  .technics__item--title {
    position: absolute;
    top: 0;
    left: 0;

    margin: 16px 0 0 16px;
  }

  .technics__item--icon {
    position: absolute;
    bottom: 0;
    right: 0;

    margin: 0 16px 16px 0;
  }

  &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4)  {
    margin-bottom: 32px;
  }

}

.swiper-technics {
  width: 240px;
  height: 200px;
}

.swiper-wrapper--technics {
  height: 160px;
}

/* Prices swiper */

.prices__item {
  width: 260px;
  height: 200px;

  padding: 16px;

  background-color: $titleBg;
  border-radius: 6px;

  .prices__item--title {
    font-size: 14px;
    color: $titleColor;
  }

  .prices__item--text {
    font-size: 14px;
    color: $pricesTextColor;

    margin: 4px 0 16px;

    &:nth-child(3) {
      margin-bottom: 0;
    }
  }

  .prices__item--content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

}

.prices__row--btn {
  width: 119px;
  height: 32px;

  background-color: $iconColor;
  border: none;
  border-radius: 16px;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: background .3s ease;

  cursor: pointer;

  &:hover {
    background-color: $iconHoverColor;
  }

  .prices__row--btn--text {
    color: $rowBackground;
    text-transform: uppercase;

    font-size: 12px;
    font-family: 'TT Lakes Medium', serif;

    margin-right: 17px;
  }
}

.swiper-prices {
  width: 260px;
  height: 240px;
}

.swiper-wrapper--prices {
  height: 200px;
}

.screen {
  width: 100%;
  height: 0;
}

.screen-width {
  height: 0;
}

.hidden {
  display: none;
}

.sidebar--opened {
  display: block;
  position: absolute;

  top: 0;
  left: 0;

  z-index: 2;

  width: 100%;
  height: 2059.66px;

  background-color: rgba(255, 255, 255, 0.9);
}

.sidebar__wrapper--opened {
  position: absolute;
  top: 0;
  left: 0;

  z-index: 3;
  box-shadow: 12px 4px 30px 0 rgba(34, 60, 80, 0.2);
}

.modal-window--opened {
  display: flex;
}

.modal-window--opened-intro {
  display: flex;
}

.modal-window--opened-sidebar {
  display: flex;
}

.none {
  display: none;
}

@media screen and (min-width: 1375px) {
  .icon--cross {
    display: none;
  }
}

@media screen and (max-width: 1060px) {

  .container {
    max-width: 800px;
  }

}

@media screen and (max-width: 768px) {

  .container {
    max-width: 700px;
  }

  .link-box--center {
    width: 150px;
    margin: 0 auto;
    text-align: right;
  }

}

@media screen and (max-width: 768px) {

  .container {
    max-width: 650px;
  }

}

@media screen and (max-width: 490px) {
  .container {
    max-width: 350px;
  }

  .header {

    .header__container {

      .header__icons {
        width: 90px;

        .icon--hidden {
          display: none;
        }

      }

    }

  }
}

@media screen and (max-width: 350px) {

  .container {
    max-width: 310px;
  }

}
